@model IEnumerable<GetRates.Web.CalculatedData>
@if (Model != null) {
    <h2 style="width: 100%; text-align: center; margin-bottom: 10px;">
        Amount Entered @String.Format("{0:C}", ViewBag.Amount)</h2>
    <table id="results" class="tablesorter">
        <thead>
            <th>
                Provider
            </th>
            <th>
                Service Fee
            </th>
            <th>
                Conversion Rate
            </th>
            <th>
                Deductions (Various Tax + Fees)
            </th>
            <th>
                Amount Withdrawn
            </th>
            <th>
                Amount Deposited
            </th>
            <th>
                Effective Rate
            </th>
        </thead>
        <tbody>
            @foreach (var returnedAmount in Model.OrderByDescending(k=>k.EffectiveRate)) {
                <tr>
                    <td style="text-align: center; width: 20%;">
                        @Html.Raw(returnedAmount.ProviderName)
                    </td>
                    <td style="text-align: right;">
                        @returnedAmount.Fee.ToString("C")
                    </td>
                    <td style="text-align: right;">
                        @returnedAmount.Rate.ToString("C", new System.Globalization.CultureInfo("en-IN"))
                    </td>
                    <td style="text-align: right;width:20%;">
                        @returnedAmount.Deductions.ToString("C", new System.Globalization.CultureInfo("en-IN"))
                    </td>
                    <td style="text-align: right;">
                        @returnedAmount.AmountWithdrawn.ToString("C")
                    </td>
                    <td style="text-align: right;">
                        @returnedAmount.Amount.ToString("C", new System.Globalization.CultureInfo("en-IN"))
                    </td>
                    <td style="text-align: right;">
                        @returnedAmount.EffectiveRate.ToString("C", new System.Globalization.CultureInfo("en-IN"))
                    </td>
                </tr>
            }
        </tbody>
    </table>
}